name: Run build.py

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'

    - name: Install dependencies
      run: |
        python -m pip install poetry
        poetry config virtualenvs.create false
        poetry install

    - name: Run build.py
      run: python -u build.py

    - name: Upload arcade.db
      uses: actions/upload-artifact@v2
      with:
        name: arcade.db
        path: arcade_db_build/arcade.db
